.container {
    max-width: 890px;
    padding: 0 15px;
    margin: 0 auto;
    font-family: monospace;
}

a, a:visited, a:active {
    color: #2578d9;
    font-size: 18px;
    padding: 10px;
    display: block;
}
a:hover {
    background: #2578d9;
    color: #fff;
}
a.active {
    font-weight: bold;
}

body > * {
    width: 100%;
}
body > header {
    position: fixed;
    top: 0;
}
body > header h1 {
    font-size: 21px;
    text-align: center;
    margin-top: 10px;
}

#content {
    margin-top: 200px;
}

nav {
    margin-top: 30px;
}
nav ul li {
    display: block;
    float: left;
    width: 50%;
}
nav ul li {
    margin: 0 auto;
}
nav ul li a {
    text-align: center;
}


body > footer {
    position: fixed;
    bottom: 10px;
}
body > footer a {
    font-size: 12px;
    text-align: center;
}

.story {
    font-size: 17px;
    text-indent: 40px;
    text-align: justify;
}
.story h1 {
    margin-bottom: 20px;
}
.story p {
    margin-bottom: 10px;
}

.allStories ul {
    list-style: none;
    margin-top: 100px;
    text-align: center;
}
.allStories ul li {
    display: inline-block;
}
.allStories a.current {
    background: #2578d9;
    color: #fff;
}