.container {
    max-width: 890px;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
    font-family: monospace;
}

a, a:visited {
    color: #2578d9;
    font-size: 18px;
    padding: 10px;
    display: block;
}
a:hover {
    background: #2578d9;
    color: #fff;
}
a.active {
    font-weight: bold;
}
:focus, a:focus {
    outline: none;
}

body > * {
    width: 100%;
}
body > header {
    position: fixed;
    top: 0;
}
body > header h1 {
    font-size: 21px;
    text-align: center;
    margin-top: 10px;
}

html, body {
    height: 100%;
    overflow: hidden;
}
#content {
    margin-top: 150px;
    height: calc(100% - 225px);
    overflow: auto;
}

nav {
    margin-top: 30px;
}
nav ul li {
    display: block;
    float: left;
    width: 33.3333%;
}
nav ul li {
    margin: 0 auto;
}
nav ul li a {
    text-align: center;
}


body > footer {
    position: fixed;
    bottom: 10px;
    text-align: center;
}
body > footer a {
    font-size: 12px;
    display: inline-block;
}

ol {
    padding-left: 30px;
}
sup {
    vertical-align: super;
    font-size: small;
}

.story {
    font-size: 17px;
    text-indent: 40px;
    text-align: justify;
    height: calc(100% - 100px);
    margin-bottom: 30px;
    padding-right: 15px;
    overflow: auto;
}
.story h1 {
    margin-bottom: 20px;
}
.story p {
    margin-bottom: 10px;
}
.story .p {
    margin-bottom: 20px;
}
.story p.verse {
    text-indent: 0;
    padding-left: 40px;
}
.story a {
    display: inline;
    padding: 0;
}
.story .upper {
    text-transform: uppercase;
}
.story .center {
    text-align: center;
}
.story ol {
    text-indent: 0;
    padding-left: 75px;
}

.allStories ul {
    list-style: none;
    text-align: center;
}
.allStories ul li {
    display: inline-block;
}
.allStories a.current {
    background: #2578d9;
    color: #fff;
}

.math {
    text-align: center;
    text-indent: 0;
}

ol.footnote {
    margin-top: 50px;
    font-size: small;
    text-indent: 0;
    padding-left: 30px;
}
ol.footnote:before {
    border-top: 1px solid black;
    content: '';
    width: 50%;
    display: block;
    padding-top: 10px;
}

#disqus_thread {
    text-indent: 0;
    margin-top: 50px;
}

section.info h1 {
    font-size: 20px;
    margin: 40px 0 20px;
}
section.info h1:first-child {
    margin-top: 0;
}
section.info p {
    margin-bottom: 10px;
    font-size: 16px;
    text-indent: 40px;
    text-align: justify;
}
section.info a {
    display: inline;
    padding: 0;
}

@media (max-width: 767px) {
    a {
        padding: 5px;
    }
    nav ul li {
        width: 100%;
    }
    .story {
        text-align: left;
    }
    body > footer div:first-child {
        margin-bottom: 10px;
    }
}