@import 'nib';
global-reset();
reset-html5();

/* standart */
$bg-color = #ececec;
$text-color = #000;
$highlight-color = #2578d9;

/* tango */
/*
$bg-color = #2e3436;
$text-color = #babdb6;
$highlight-color = #729fcf;
*/

/* black */
/*
$bg-color = #000000;
$text-color = #c8c8c8;
$highlight-color = #fefefe;
*/

.container {
    max-width: 890px;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
    font-family: monospace;
}

a, a:visited {
    color: $highlight-color;
    font-size: 18px;
    padding: 10px;
    display: block;
    transition: color, 0.1s;
}
a:hover {
    background-color: $highlight-color;
    color: $bg-color;
}
a.active {
    font-weight: bold;
}
:focus, a:focus {
    outline: none;
}
ol {
    list-style-type: decimal;
    padding-left: 30px;
}
sup {
    vertical-align: super;
    font-size: small;
}
h1 {
    font-weight: bold;
}

html, body {
    height: 100%;
    overflow: hidden;
}
body {
    background-color: $bg-color;
    color: $text-color;
    & > * {
        width: 100%;
    }
    & > header {
        position: fixed;
        top: 0;
        & h1 {
            font-size: 21px;
            text-align: center;
            margin-top: 10px;
        }
    }
    & > footer {
        position: fixed;
        bottom: 10px;
        text-align: center;
        & a {
            text-decoration: none;
            font-size: 18px;
            display: inline-block;
        }
    }
} 

#content {
    margin-top: 150px;
    height: calc(100% - 225px);
    overflow: auto;
}

nav {
    margin-top: 30px;
    & ul li {
        display: block;
        float: left;
        width: 20%;
        margin: 0 auto;
        & a {
            text-decoration: none;
            text-align: center;
            font-size: 30px;
            & span {
                display: block;
                font-size: 20px;
                margin-top: 5px;
            }
        }
    } 
}

.story {
    font-size: 17px;
    text-indent: 40px;
    text-align: justify;
    height: calc(100% - 100px);
    margin-bottom: 30px;
    padding-right: 15px;
    overflow: auto;
    & h1 {
        margin-bottom: 20px;
    }
    & p {
        margin-bottom: 10px;
        &.verse {
            text-indent: 0;
            padding-left: 40px;
        }
    }
    & .p {
        margin-bottom: 20px;
    }
    & a {
        display: inline;
        padding: 0;
    }
    & .upper {
        text-transform: uppercase;
    }
    & .center {
        text-align: center;
    }
    ol {
        text-indent: 0;
        padding-left: 75px;
        &.footnote {
            margin-top: 50px;
            font-size: small;
            padding-left: 30px;
            &:before {
                border-top: 1px solid black;
                content: '';
                width: 50%;
                display: block;
                padding-top: 10px;
            }
        }
    }
}

.allStories {
    & ul {
        list-style: none;
        text-align: center;
        & li {
            display: inline-block;
            & a.current {
                background-color: $highlight-color;
                color: $bg-color;
            }
        }
    }
}

.math {
    text-align: center;
    text-indent: 0;
}

#disqus_thread {
    text-indent: 0;
    margin-top: 50px;
}

section.info {
    & h1 {
        font-size: 20px;
        margin: 40px 0 20px;
        &:first-child {
            margin-top: 0;
        }
    }
    & p {
        margin-bottom: 10px;
        font-size: 16px;
        text-indent: 40px;
        text-align: justify;
    }
    & a {
        display: inline;
        padding: 0;
    }
}

@media (max-width: 767px) {
    a {
        padding: 5px;
    }
    nav ul li a span {
        display: none;
    }
    .story {
        text-align: left;
    }
    body > footer div:first-child {
        margin-bottom: 10px;
    }
}